:root {
    --main-trans: .3s;
    --eee-c: #eee;
    --ccc-c: #ccc;
    --white-c: white;
    --blue-c: #0075ff;
    --red-c: #f44336;
    --orange-c: #f59e0b;
    --green-c: #22c55e;
    --888-c: #888;
}

/* s-global-rools */
* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #eee;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b5b5b5;
}

:focus {
    outline: none;
}

[type="submit"] {
    cursor: pointer;
}

textarea {
    resize: none;
}

h2 {
    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


input,
textarea {
    font-size: 14px;
}

/* e-global-rools */
/* s-dashboard */
/* s-main */
.main {
    background-color: #f1f5f9;
    min-height: 100vh;
}

/* e-main */
/* s-side */
.side {
    width: 250px;
    z-index: 1;
    position: sticky;
    top: 0;
    height: 100vh;
}

@media (max-width:767px) {
    .side {
        width: 81px;
    }
}

.side>h3 {
    margin-bottom: 50px;
}

@media (max-width:767px) {
    .side>h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }
}

.side>h3::before,
.side>h3::after {
    content: "";
    position: absolute;
    background-color: black;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}

.side>h3::before {
    height: 2px;
    width: 90px;
    bottom: -20px;
    left: 50%;
}

.side>h3::after {
    height: 12px;
    width: 12px;
    bottom: -28px;
    left: 50%;
    border: 4px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.side a {
    margin-bottom: 5px;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}

@media (max-width:767px) {
    .side a {
        text-align: center;
    }
}

.side a:hover {
    background-color: #f6f6f6;
}

.side a span {
    margin-left: 5px;
}

@media (max-width:767px) {

    .side>h3::before,
    .side>h3::after {
        display: none;
    }
}

.side .active {
    background-color: #f6f6f6;
}

/* e-side */
/* s-head */
.header input {
    width: 160px;
    padding-left: 30px;
    transition: all var(--main-trans);
    -webkit-transition: all var(--main-trans);
    -moz-transition: all var(--main-trans);
    -ms-transition: all var(--main-trans);
    -o-transition: all var(--main-trans);
}

.header input:focus {
    width: 200px;
}

.header input:focus::placeholder {
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}

.header input:focus::placeholder {
    opacity: 0;
}

.header .search::before {
    content: "\f002";
    position: absolute;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    top: 50%;
    left: 10px;
    color: #ccc;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.header img {
    width: 32px;
}

.header .noti-pic div::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    top: -1px;
    right: 6px;
    background-color: #f44336;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.header .noti-pic i {
    font-size: 22px;
    margin: 5px 10px;
}

/* e-head */
/* s-body-head */
.main-cont h1 {
    margin: 0 0 50px;
}

.main-cont h1::before,
.main-cont h1::after {
    content: "";
    position: absolute;
    height: 4px;
    bottom: -15px;
    left: 0;
}

.main-cont h1::before {
    width: 120px;
    background-color: white;
}

.main-cont h1::after {
    width: 50px;
    background-color: black;
}

/* e-body-head */
/* s-card1 */
.grid-2 .welcome>img {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    left: 20px;
    top: -32px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media (max-width:767px) {
    .grid-2 .welcome>img {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
}

.grid-2 .welcome>img+div p {
    margin: 5px 0 0;
}

.grid-2 .welcome .blue-btn {
    margin: 30px 20px 15px auto;
}

/* e-card1 */
/* s-card2 */
.quick-draft textarea {
    height: 180px;
}

/* e-card2 */
/* s-card3 */
.main-cont .target div:first-child {
    width: 80px;
    height: 80px;
}

.main-cont .target div div:nth-last-child(1) {
    height: 5px;
}


.main-cont .target div div:nth-last-child(1)::before {
    content: "";
    position: absolute;
    height: 100%;
    background-color: var(--blue-c);
    top: 0;
    left: 0;
}

.main-cont .target:nth-child(1) div div:nth-last-child(1)::before {
    width: 80%;
}

.main-cont .target:nth-child(2) div div:nth-last-child(1)::before {
    width: 60%;
}

.main-cont .target:nth-child(3) div div:nth-last-child(1)::before {
    width: 75%;
}

.main-cont .target:nth-child(1) div div:nth-last-child(1)::before {
    background-color: var(--blue-c);
}

.main-cont .target:nth-child(2) div div:nth-last-child(1)::before {
    background-color: var(--orange-c);
}

.main-cont .target:nth-child(3) div div:nth-last-child(1)::before {
    background-color: var(--green-c);
}

.main-cont .target div div:nth-last-child(1) span {
    top: -40px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.main-cont .target:nth-child(1) div div:nth-last-child(1) span {
    left: 80%;
}

.main-cont .target:nth-child(2) div div:nth-last-child(1) span {
    left: 60%;
}

.main-cont .target:nth-child(3) div div:nth-last-child(1) span {
    left: 75%;
}

.main-cont .target div div:nth-last-child(1) span::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    bottom: -16px;
    left: calc(50% - 8px);
}

.main-cont .target:nth-child(1) div div:nth-last-child(1) span::before {
    border-color: var(--blue-c) transparent transparent;
}

.main-cont .target:nth-child(2) div div:nth-last-child(1) span::before {
    border-color: var(--orange-c) transparent transparent;
}

.main-cont .target:nth-child(3) div div:nth-last-child(1) span::before {
    border-color: var(--green-c) transparent transparent;
}

/* e-card3*/
/* s-card5*/
.latest-news:nth-child(5) .content img {
    width: 100px;
}

/* e-card5*/
/* s-card6*/
.tasks .content>div:nth-last-child(2) h3,
.tasks .content>div:nth-last-child(2) p {
    text-decoration: line-through;
}

/* e-card6*/
/* s-card7*/
.upload img {
    width: 40px;

}

/* e-card7*/
/* s-card9*/
.last-project ul li::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    outline: 2px solid var(--blue-c);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.last-project ul::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: var(--blue-c);
    top: 0;
    left: 15px;
}

.last-project ul li:not(:nth-last-child(1))::before {
    background-color: var(--blue-c);
}

.last-project ul li:nth-last-child(1)::before {
    background-color: white;
}

.last-project ul li:nth-last-child(2)::before {
    animation: pulse 1s alternate infinite;
    -webkit-animation: pulse 1s alternate infinite;
}

.last-project img {
    bottom: 0;
    right: 0;
    width: 160px;
}

/* e-card9*/
/* s-card10*/
.reminders .content div::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 25px;
}

.reminders .content div::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.reminders .content div:nth-child(1)::before,
.reminders .content div:nth-child(1)::after {
    background-color: var(--blue-c);
}

.reminders .content div:nth-child(2)::before,
.reminders .content div:nth-child(2)::after {
    background-color: var(--green-c);
}

.reminders .content div:nth-child(3)::before,
.reminders .content div:nth-child(3)::after {
    background-color: var(--orange-c);
}

.reminders .content div:nth-child(4)::before,
.reminders .content div:nth-child(4)::after {
    background-color: var(--red-c);
}

/* e-card10*/
/* s-card11*/
.post img {
    width: 50px;
}

.post>div:nth-of-type(2) p {
    line-height: 2;
}

/* e-card11*/
/* s-card12*/
.social .content>div:nth-child(1) {
    background-color: rgb(29 161 242 / 20%);
    color: #1da1f2;
}

.social .content>div:nth-child(2) {
    background-color: rgb(24 119 242 / 20%);
    color: #1da1f2;
}

.social .content>div:nth-child(3) {
    background-color: rgb(255 0 0 / 20%);
    color: #ff0000;
}

.social .content>div:nth-child(4) {
    background-color: rgb(0 119 181 / 20%);
    color: #0077b5;
}

.social .content>div i {
    width: 58px;
    left: 0;
    top: 0;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.social .content>div:nth-child(1) i {
    background-color: #1da1f2;
}

.social .content>div:nth-child(2) i {
    background-color: #1877f2;
}

.social .content>div:nth-child(3) i {
    background-color: #FF0000;
}

.social .content>div:nth-child(4) i {
    background-color: #0077b5;
}

.social i:hover {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}

.social .content>div a {
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
}

.social .content>div:nth-child(1) a {
    background-color: #1da1f2;
}

.social .content>div:nth-child(2) a {
    background-color: #1877f2;
}

.social .content>div:nth-child(3) a {
    background-color: #FF0000;
}

.social .content>div:nth-child(4) a {
    background-color: #0077b5;
}

/* e-card12*/
/* s-card13*/
.table {
    overflow-x: auto;
}

.table table {
    min-width: 1000px;
    border-spacing: 0;
}

.table table thead {
    font-weight: 700;
    background-color: var(--eee-c);
}

.table table img {
    width: 32px;
    height: 32px;
    border: 2px solid var(--white-c);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.table table img:not(:nth-child(1)) {
    margin-left: -20px;
}

/* e-card13*/
/* e-dashboard */
/* s-settings */
/* s-card1 */
.toggle-check {
    appearance: none;
    display: none;
}

.toggle-check+div {
    width: 60px;
    height: 30px;
    background-color: var(--ccc-c);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    position: relative;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
    cursor: pointer;
}

.toggle-check+div::before {
    content: "\f00d";
    position: absolute;
    font-weight: 700;
    font-family: "Font Awesome 6 Free";
    width: 25px;
    height: 25px;
    background-color: var(--white-c);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--ccc-c);
    top: 50%;
    left: 2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}

.toggle-check:checked+div {
    background-color: var(--blue-c);
}

.toggle-check:checked+div::before {
    content: "\f00c";
    color: var(--blue-c);
    left: 33px;
}

.control textarea {
    min-height: 150px;
}

/* e-card1 */
/* s-card2 */
.info [type="email"] {
    background-color: #f0f4f8;
    color: #bbb;
}

/* e-card2 */
/* s-card4*/

.social div::before {
    position: absolute;
    width: 35px;
    height: calc(100% - 1px);
    font-weight: 700;
    font-family: "Font Awesome 6 Brands";
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #888;
    top: calc(50% - -1px);
    left: 0px;
    border-right: 1px solid #ccc;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}



.social div:nth-child(2)::before {
    content: "\f099";
}

.social div:nth-child(3)::before {
    content: "\f39e";
}

.social div:nth-child(4)::before {
    content: "\f167";
}

.social div:nth-child(5)::before {
    content: "\f08c";
}

.social div:focus-within:not(:nth-child(1))::before {
    color: black;
}

/* e-card4 */
/* s-card5 */
.loop {
    appearance: none;
    display: none;
}

.Widgets .loop1 {
    cursor: pointer;
}

.Widgets .ch::before,
.Widgets .ch::after {
    left: 10px;
    position: absolute;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.Widgets .ch::before {
    content: "";
    border: 2px solid var(--888-c);
    width: 15px;
    height: 15px;
}

.Widgets .ch::after {
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: var(--white-c);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--blue-c);
    top: 0;
    width: 19px;
    height: 19px;
    transform: rotate(1080deg) scale(0);
    -webkit-transform: rotate(1080deg) scale(0);
    -moz-transform: rotate(1080deg) scale(0);
    -ms-transform: rotate(1080deg) scale(0);
    -o-transform: rotate(1080deg) scale(0);
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}

.Widgets .loop1:hover .ch::before {
    border-color: var(--blue-c);
}

.Widgets .loop:checked+.ch:after {
    transform: rotate(0) scale(1);
    -webkit-transform: rotate(0) scale(1);
    -moz-transform: rotate(0) scale(1);
    -ms-transform: rotate(0) scale(1);
    -o-transform: rotate(0) scale(1);
}

/* e-card5 */
/* s-card6 */
.backup input {
    appearance: none;
    display: none;
}

.backup div:nth-child(2) label div::before,
.backup div:nth-child(2) label div::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}

.backup div:nth-child(2) label div::before {
    border: 2px solid var(--888-c);
    left: 10px;
    width: 20px;
    height: 20px;
}

.backup div:nth-child(2) label div::after {
    width: 15px;
    height: 15px;
    left: 14.5px;
}

.backup div:nth-child(2) label input:checked+div::before {
    border: 2px solid var(--blue-c);
}

.backup div:nth-child(2) label input:checked+div::after {
    background-color: var(--blue-c);
}

.backup div:nth-child(3) {
    gap: 10px;
}

.backup div:nth-child(3) .last-ch+label {
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}

.backup div:nth-child(3) .last-ch:checked+label {
    color: var(--blue-c);
    border: 2px solid var(--blue-c);
}

/* e-card6 */
/* e-settings */
/*s-animation */
@keyframes pulse {
    100% {
        background-color: white;
    }
}

/*e-animation */