:root {
    --eee-c: #eee;
    --ccc-c: #ccc;
    --white-c: white;
    --blue-c: #0075ff;
    --red-c: #f44336;
    --orange-c: #f59e0b;
    --green-c: #22c55e;
}

/* s-font */
.f-13 {
    font-size: 13px;
}

.f-14 {
    font-size: 14px;
}

.f-15 {
    font-size: 15px;
}

.f-16 {
    font-size: 16px;
}

.f-17 {
    font-size: 17px;
}

.f-18 {
    font-size: 18px;
}

.f-20 {
    font-size: 20px;
}

.f-25 {
    font-size: 25px;
}

.f-w-400 {
    font-weight: 400;
}

.f-w-500 {
    font-weight: 500;
}

.f-w-600 {
    font-weight: 600;
}

.f-w-700 {
    font-weight: 700;
}

/* e-font */
/* S-btn */
.blue-btn {
    background-color: var(--blue-c);
    padding: 5px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border: none;
    color: var(--white-c);
    display: inline-block;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.green-btn {
    background-color: var(--green-c);
    padding: 5px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border: none;
    color: var(--white-c);
    display: inline-block;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.red-btn {
    background-color: var(--red-c);
    padding: 5px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border: none;
    color: var(--white-c);
    display: inline-block;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.grey-btn {
    background-color: var(--eee-c);
    padding: 5px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border: none;
    display: inline-block;
}

.btn {
    padding: 5px 10px;
    border-radius: 6px;
}

.blue-btn:hover {
    background-color: #0d69d5;
}

.red-btn:hover {
    background-color: #ca352a;
}

.green-btn:hover {
    background-color: #24a453;
}

.del {
    cursor: pointer;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.del:hover {
    color: var(--red-c);
}

/* e-btn */
/* s-f-box */
.d-flex {
    display: flex;
}

.bet-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.j-center {
    justify-content: center;
}

.j-bet {
    justify-content: space-between;
}

.j-flex-end {
    justify-content: flex-end;
}

.flex-baisi-1 {
    flex: 1;
}

.alic-center {
    align-content: center;
}

.alit-center {
    align-items: center;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-di-co {
    flex-direction: column;
}

/* e-f-box */
/* s-grid */
.grid-2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;
}

.grid-2-200 {
    display: grid;
    grid-template-columns: repeat(2, minmax(195px, 1fr));
    gap: 20px;
}

.grid-200 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.grid-300 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

@media (max-width:767px) {
    .grid-2 {
        grid-template-columns: 100%;
    }

    .grid-2-200 {
        grid-template-columns: 100%;
    }

    .grid-300 {
        grid-template-columns: 100%;
    }
}

/* e-grid */
.d-block {
    display: block;
}

/* s-w-h */
.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content;
}

.w-200 {
    width: 200px;
}


.h-fit {
    height: fit-content;
}

.h-full {
    height: 100%;
}

/* e-w-h */
/* s-padding-margin-r */

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pr-15 {
    padding-right: 15px;
}

.pr-20 {
    padding-right: 20px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-40 {
    padding-left: 40px;
}

.pl-65 {
    padding-left: 65px;
}

.m-auto {
    margin: 0 auto;
}

.m-0 {
    margin: 0;
}

.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mr-5 {
    margin-right: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}


.mr-20 {
    margin-right: 20px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-auto {
    margin-left: auto;
}

.r-6 {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.r-10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.r-half {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* e-padding-margin-r */
/* s-border */
.border-none {
    border: none;
}

/* e-border */
/* s-color */
.bg-white {
    background-color: var(--white-c);
}

.bg-eee {
    background-color: var(--eee-c);
}

.bg-blue {
    background-color: var(--blue-c);
}

.bg-light-blue {
    background-color: rgb(0 117 255 / 20%);
}

.bg-orange {
    background-color: var(--orange-c);
}

.bg-light-orange {
    background-color: rgb(245 158 11 / 20%);
}

.bg-green {
    background-color: #22c55e;
}

.bg-light-green {
    background-color: rgb(34 197 94 / 20%);
}

.bg-red {
    background-color: #ff0000;
}

.bg-light-red {
    background-color: rgb(244 67 54 / 20%);
}

.bg-grey-2 {
    background-color: #f6f6f6;
}

.c-black {
    color: black;
}

.c-white {
    color: var(--white-c);
}

.c-grey {
    color: #888;
}

.c-grey-2 {
    color: #f6f6f6;
}

.c-blue {
    color: var(--blue-c);
}

.c-orange {
    color: var(--orange-c);
}

.c-green {
    color: var(--green-c);
}

.c-red {
    color: var(--red-c);
}

/* e-color */
/* s-shadow */
.shadow-ddd {
    box-shadow: 0 0 10px #ddd;
}

/* e-shadow */
/* s-letter */
.l-space--1 {
    letter-spacing: -1px;
}

/* e-letter */
/* s-position */
.p-r {
    position: relative;
}

.p-a {
    position: absolute;
}

/* e-position */
/* s-text */
.txt-c {
    text-align: center;
}

/* e-text */
/* s-over-view */
.over-hidden {
    overflow: hidden;
}

/* e-over-view */
/* s-border */

.bor-2-gray {
    border: 2px solid var(--ccc-c);
}

.bor-1-gray {
    border: 1px solid var(--ccc-c);
}

.bort-1-EEE {
    border-top: 1px solid var(--eee-c);
}

.borr-1-EEE {
    border-right: 1px solid var(--eee-c);
}

.borb-1-EEE {
    border-bottom: 1px solid var(--eee-c);
}

.borl-1-EEE {
    border-left: 1px solid var(--eee-c);
}

/* e-border */

/* s-op */
.op-03 {
    opacity: .3;
}

/* e-op */
/* s-component */
.team-img {
    border: 2px solid var(--white-c);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.bar {
    width: 50%;
    height: 5px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.bar span {
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    left: 0;
}

.pointer {
    cursor: pointer;
}

/* e-component */
@media (max-width:767px) {
    .hide-mob {
        display: none;
    }

}

@media (max-width:767px) {
    .flex-coulmn-mob {
        flex-direction: column;
    }

    .flex-coulmnre-mob {
        flex-direction: column-reverse;
    }
}

@media (max-width:767px) {
    .mb-20-mob {
        margin-bottom: 20px;
    }

    .p-10-mob {
        padding: 10px;
    }
}

@media (max-width:767px) {
    .mb-20-mob {
        margin-bottom: 20px;
    }
}

@media (max-width:767px) {
    .txt-c-mob {
        text-align: center;
    }
}

@media (max-width:767px) {
    .w-full-mob {
        width: 100%;
    }
}

@media (min-width:767px) {
    .min-w-300-notmob {
        min-width: 300px;
    }
}